<div class="convert-page-container">
    <h1 class="header">CURRENCY CONVERTER</h1>
    <div class="form-container">
        <br>
        <form>
            <div class="line">
                <label class="have">Currency I Have</label>
                <br>
                <select class="left-select">
                    <option *ngFor="let data of myDataBases">
                        {{data.currency}} - {{data.description}}
                    </option>
                </select>
                <br>
                <div class="line">
                    <label class="need">Currency I Need</label>
                    <br>
                    <select (change)="setValue($event)" class="right-select" name="select-id">
                        <option [value]="data.value" *ngFor="let data of myDataBases">{{data.currency}} - {{data.description}}</option>
                        <!--              [value]="onFillData($event)"-->
                    </select>
                </div>
                <br>
                <input (keyup)="convert($event)" placeholder="    Amount" class="input input-have" type="text">
                <input placeholder="  Sum" class="input result-need" type="number">
                <br>
                <p style="color: white">TEST TEST TEST{{endQuantity}}_{{currencyQuantity}}</p>
            </div>
        </form>
    </div>
    <!--    <option *ngFor="let data of myDataBases" >{{data.currency}} - {{data.description}}</option>-->
