<div class="convert-page-container">

    <div class="form-container">
        <h1 class="header">CURRENCY CONVERTER</h1>
        <form>
            <div class="line third">
                <label class="currency-quantity">Amount To Change</label>
                <input (keyup)="convert($event)" placeholder="...CHANGE..." class="input input-have" type="text">
            </div>
            <div class="line first">
                <label class="have">Currency I Have</label>
                <select (change)="setValueStart($event)" class="left-select">
                    <option *ngFor="let data of myDataBases">
                        {{data.currency}}
                    </option>
                </select>
            </div>
            <div class="line second">
                <label class="need">Currency I Need</label>
                <select (change)="setValueEnd($event)" class="right-select" name="select-id">
                    <option [value]="data.currency" *ngFor="let data of myDataBases">{{data.currency}}</option>
                </select>
            </div>
        </form>
        <div class="line zero">
            <p id="result">Your Currency Result is:</p>
            <div *ngIf="startCurrency!=='Select Currency'||endCurrency!=='Select Currency'; then thenBlock; else elseBlock"></div>

            <ng-template #thenBlock>
                <p class="result">{{result | number:'1.5'}}   {{endCurrency !== "Select Currency" ? endCurrency : ""}}</p>
            </ng-template>
            <ng-template #elseBlock>
                <p class="result"></p>
            </ng-template>
        </div>
    </div>
</div>
