div {
  width: 100vw;
  /*height: 100vw;*/
  height: 100vh;
  /*background: linear-gradient(rgba(0, 0, 0, 0.7),*/
  /*rgba(0, 0, 0, 0.7)),*/
  /*url("../../assets/img/dollars2.jpg")no-repeat center;*/
  background: url("../../assets/img/dollars2.jpg") no-repeat center center fixed ;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  /*background: rgba(001, 001, 001, .7);*/
}
/*.home-container {*/

/*}*/
.begin{
  font-size: 1.5rem ;
  width: 55%;
  height: 10% ;
  border-radius: 30px;
  background-color: red;
  color: white;
  text-decoration: none;

}
.begin:hover{
  color: blue;
  box-shadow: 0px 0px 3px white;
}
